


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
    margin: 0 auto;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #000402;
    background: url(./) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 50%; 
    height: 100%;
    width: 900px;
   
    background-attachment: fixed;
    z-index: -1;
    transform: translateX(-50%);
    
}
ul {
    

    
}
header {
    text-align: center;
}
 section{
    text-align: center;
    margin: 0 auto;
}



